*
{
    background-color: skyblue;
}

#title
{
    font-size: 50px;
    color: darkblue;
    font-family: 'Times New Roman', serif;
    padding: 10px;
    border: 15px double red;
    text-align: center;
    margin: 30px auto;
    width: 500px;
    background-color: gold;
}

#new-sketch
{
    /* display is changed to block so that the button can be horizontally centered like block elements */
    /* buttons are inline elements by default */
    display: block; 
    padding: 10px;
    margin: 30px auto;
    width: 300px;
    background-color: lawngreen;
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 7px;
    cursor: pointer;
}

#container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    padding: 10px;
    width: 510px;
    margin: 10px auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.buttons
{
    flex: 1;
    font-size: 20px; 
    background-color: beige; 
    color: black; 
    border: 3px solid red; 
    border-radius: 10px; 
    text-align: center; 
    padding: 10px; 
    cursor: pointer;
}